[part="navbar"] {
    align-items: center;
    justify-content: center;
}

[part="navbar"]::after {
    content: '';
}

[part="navbar"] ::slotted(*:first-child),
[part="navbar"]::after {
    flex: 1 0 0.001px;
}

@media (max-width: 425px) {
   [part="navbar"] ::slotted(.hide-on-mobile) {
       display: none;
   }
   [part="navbar"]::after {
        content: none;
   }
}
